# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List common languages used in Data Science
- List various Data Science Tools
- Few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot

| Data Science Tools |
|:-------------------|
| Jupyter Notebook   |
| RStudio            |
| Anaconda           |

### Below are a few examples of evaluating arithmetic expressions in Python.
1. 5 + 3 = 8
2. 5 * 3 = 15
3. 5 / 4 = 1
4. 5 - 3 = 2

In [1]:
#This a simple arithmetic expression to mutiply then add integers
3*4+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hours = 200/60
print(hours)

3.3333333333333335

## Author
Ronak Surve